
.img-encabezado{
    width: 100%;
}

body{
    background: #000000;
}

main{
    display: flex;
    background: #000000;
}

.mensaje1, .mensaje2{
    width: 30em;
    height: 20em;
    background: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.mensaje-entrada{
    margin: 3em 2em 3em 5em;
}

.botones{
    margin: auto 2em;
}

.botones button{
    margin: 0 4em;
    color: #ffffff;
    font-weight: bold;
    background: #095718;
    width: 10em;
    height: 3em;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms;
}

.botones button:hover{
    background: #3C8249;
}

.botones button:active{    
    color: #BDBDBD;
}

.mensaje-salida{
    margin: 3em 0;
}

.copiar{
    position: absolute;
    background-image: url(imagenes/copiar.png);
    width: 53px;
    height: 51px;
    left: 106em;
    top: 540px;
    cursor: pointer;
}

.mensaje2 {
    background-image: url(imagenes/no-encontrado.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*

form{
    display: inline;
    background: #000000;
}

.mensaje1, .mensaje2{
    width: 30%;
    height: 20em;
    text-align: center;
    background: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
}

#mensaje-entrada{
    margin: 3em 2em 3em 2em;
}

.boton-encriptar, .boton-desencriptar{
    margin: 0 4em;
    color: #ffffff;
    font-weight: bold;
    background: #095718;
    width: 10em;
    height: 3em;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms;
}

.boton-encriptar:hover, .boton-desencriptar:hover{
    background: #3C8249;
}

.boton-encriptar:active, .boton-desencriptar:active{
    color: #BDBDBD;
}

#mensaje-salida{
    margin: 3em 2em 3em 2em;
}

.no-encontrado{
    position: absolute;
    width: 234px;
    right: 180px;
    top: 350px;
}

.copiar{
    position: absolute;
    background-image: url(imagenes/copiar.png);
    width: 53px;
    height: 51px;
    right: 5em;
    top: 500px;
    cursor: pointer;
}

.no-encontrado:hover{
    display: none;
}

*/

.img-footer{
    width: 100%;
}

.linkedin{
    position: absolute;
    left: 44%;
    bottom: 0em;
}

.github{
    position: absolute;
    left: 51%;
    bottom: 0em;
}

@media screen and (max-width:480px){
    .img-encabezado{
        width: auto;
    }

    main{
        display: block;
    }

    .mensaje1, .mensaje2{
        font-size: 5em;
        width: 20em;
        height: 15em;
        background: #000000;
        border: 2px solid #ffffff;
        color: #ffffff;
    }

    .mensaje-entrada, .mensaje-salida{
        margin: 2em 2em 3em 5em;
    }

    .botones button{
        font-size: 5em;
        margin: 1em 4em;
        width: 10em;
        height: 2em;
        border-radius: 30px;
    }

    .copiar{
        position: absolute;
        background-image: url(imagenes/copiar.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 200px;
        height: 200px;
        left: 85em;
        top: 200em;
    }

    .mensaje2 {
        background-image: url(imagenes/no-encontrado.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 80%;
    }

    .img-footer{
        width: auto;
    }

    .linkedin{
        position: absolute;
        left: 30em;
        bottom: -140em;
    }
    
    .github{
        position: absolute;
        left: 38em;
        bottom: -140em;
    }
}